label{
    font-weight: 800;
    font-size: 13px;
    text-transform: capitalize;
}
.btn-sm{
    padding: 6px  10px!important;

}
.form-group span{
    text-transform: capitalize;
}

.datatable-custom .dataTables_filter, .datatable-custom .dataTables_info, .datatable-custom .dataTables_length, .datatable-custom .dataTables_paginate {
    display: block  !important;
    margin-top: 20px;
    margin-bottom: 20px;
}
#datatable_wrapper{
    padding: 10px;
}
td{
    text-transform: capitalize;
}
.card-dashboard {
    background-color:#fff !important;
    border: 2px solid rgb(244, 74, 12) !important;
    color: #000 !important;
    padding-top: 5px !important;
    padding: 0 auto !important;
    border-radius: 7px !important;
}

.card-leavtype {
    background-color:#fff !important;
    border: 2px solid rgb(244, 127, 10) !important;
    color: #000 !important;
    padding-top: 5px !important;
    padding: 0 auto !important;
    border-radius: 7px !important;
    cursor: pointer;
    font-size: 2px !important;
}


.filters button{
    font-size: 22px !important;
    color: rgb(244, 127, 10);
}

.card-leavtype:hover{
    background-color:rgb(244, 127, 10) !important;
    color: #fff;

}


.card-leavtype{

    color: #000 !important;
    font-size: 18px !important;

}
.card-leavtype:hover{

    color: #fff !important;

}



.card-dashboard i{
    font-size: 40px;
    color:rgb(244, 74, 12);
}
.card-dashboard h2{
    font-size: 10px;
    text-align: left !important;
    color:#000 !important;
}

.active-class{
    background:  #f85109 !important;
    color: #fff !important;
}

.active-class i
{
    color: #fff !important;
}
aside{
    background:  #fff !important;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px !important;
}
.navbar-container{
    background-color: #f85109 !important;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px !important;

}
.navbar-container h1{
   color: #fff !important;


}
.nav-icon{
    color: #f85109 !important;
}

.dropdown-header{
    color: #f85109 !important;
}

.nav-link:hover{
    background:  #f85109 !important;
    color: #fff !important;
}

.nav-link:hover i{
    color: #fff !important;
}

.nav-vertical.nav-pills .nav-item .nav-collapse.show .nav-link.active {
    color: #ffffff !important;
    background-color: rgb(248 81 9) !important;
}
a {
    color: #f85109 !important;
    text-decoration: none;
}
.btn{
    color: #fff !important;
}

.text-left{
    text-align: left;
}

.bt:hover{
    background-color: #f85109 !important;
}

.nav-center-logo img{
   max-width: 20px !important;
   zoom: 190%;
   padding-top: 3px;
   padding-bottom: 3px;
   background:#fff;
   padding: 2px 3px 2px 3px ;
   border-radius: 4px;
}

.name-title{
    font-size: 24px !important;
    font-weight: bold !important;
    font-family: 'Arial ', sans-serif !important;
    color:  rgb(248 81 9) !important;
    line-height: 24px;
    padding: 0px;
}

.tittle-nav{
    font-size: 30px;
}

.btn-outline-primary{
    border-color:  rgb(248 81 9) !important;


}
.text-primary {
    --bs-text-opacity: 1;
    color: #f85109 !important;
}
.btn:hover {
    color: #fff !important;
    background-color: #f85109 !important;
    border-color: var(--bs-btn-hover-border-color);
}
.text-orenge{
    color:#f85109 !important;
}


.filter{
    width: 90%;
    margin: auto;
    border-radius: 4px;
}

.table-pay-scale thead{
    border:.5px solid #fac0a7 !important;
}

.table-pay-scale th{
    border:.5px solid #dedede;
    background:#f6f5f5 !important;
}

.table-pay-scale td{
    border:.5px solid #edebeb;

}

.table-pay-scale tr td:nth-child(3) {
    background: rgb(249, 248, 245);
}


.table-pay-scale tr td:nth-child(8) {
    background: #f85109;
    color: #fff;
}

.text-right{
    text-align: right;
}
.add-btn
{
    background-color: #f85109 !important;
}
