label{
    font-weight: 800;
    font-size: 13px;
    text-transform: capitalize;
}
.btn-sm{
    padding: 6px  10px!important;

}
.form-group span{
    text-transform: capitalize;
}

.datatable-custom .dataTables_filter, .datatable-custom .dataTables_info, .datatable-custom .dataTables_length, .datatable-custom .dataTables_paginate {
    display: block  !important;
    margin-top: 20px;
    margin-bottom: 20px;
}
#datatable_wrapper{
    padding: 10px;
}
td{
    text-transform: capitalize;
}
.card-dashboard {
    background-color: rgb(244, 74, 12) !important;
    color: #fff !important;
    min-height: 200px;
    padding-top: 15px !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}


.card-dashboard i{
    font-size: 40px;
    color:#fff;
}

.active-class{
    background:  #f85109 !important;
    color: #fff !important;
}

.active-class i
{
    color: #fff !important;
}
aside{
    background:  #fff !important;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px !important;
}
.navbar-container{
    background-color: #f85109 !important;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px !important;

}
.navbar-container h1{
   color: #fff !important;


}
.nav-icon{
    color: #f85109 !important;
}

.dropdown-header{
    color: #f85109 !important;
}

.nav-link:hover{
    background:  #f85109 !important;
    color: #fff !important;
}

.nav-link:hover i{
    color: #fff !important;
}

.nav-vertical.nav-pills .nav-item .nav-collapse.show .nav-link.active {
    color: #ffffff !important;
    background-color: rgb(248 81 9) !important;
}
a {
    color: #f85109 !important;
    text-decoration: none;
}
.btn{
    color: #fff !important;
}

.text-left{
    text-align: left;
}

.bt:hover{
    background-color: #f85109 !important;
}
