label{
    font-weight: 800;
    font-size: 13px;
    text-transform: capitalize;
}
.btn-sm{
    padding: 6px  10px!important;

}
.form-group span{
    text-transform: capitalize;
}

.datatable-custom .dataTables_filter, .datatable-custom .dataTables_info, .datatable-custom .dataTables_length, .datatable-custom .dataTables_paginate {
    display: block  !important;
    margin-top: 20px;
    margin-bottom: 20px;
}
#datatable_wrapper{
    padding: 10px;
}